EnterpriseManager.Application/bin
EnterpriseManager.Application/obj
EnterpriseManager.API/bin
.vs
EnterpriseManager.API/obj
EnterpriseManager.Infrastructure/bin
EnterpriseManager.Infrastructure/obj
EnterpriseManager.Domain/bin
EnterpriseManager.Domain/obj
EnterpriseManager.Persistence/obj
EnterpriseManager.Persistence/bin
